@charset "UTF-8";

body {
    background-color: rgb(170, 237, 152);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
div{
    display: inline-block;
}
h1{
    color: deeppink;
    border: 2px solid rgb(201, 255, 185);
    border-radius: 10px;
    text-align: center;
    background-color: rgb(201, 255, 185);
    margin-inline: 50px;
}
h3{
    color: deeppink;
}
mark {
    background-color: deeppink;
}
.botao1{
    color: rgb(170, 237, 152);
    margin-left: 400px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    text-decoration: none;
}
.botao1:hover{
    background-color: deeppink;
}
.botao1-1{
    color: rgb(170, 237, 152);
    margin-left: 400px;
    border-radius: 10px;
    background-color: deeppink;
    padding: 5px;
    text-decoration: none;
    cursor: default;
}
.botao2{
    color: rgb(170, 237, 152);
    margin-left: 600px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    text-decoration: none;
}
.botao2:hover{
    background-color: deeppink;
}
.botao2-1{
    color: rgb(170, 237, 152);
    margin-left: 600px;
    border-left: 40px;
    border-radius: 10px;
    background-color: deeppink;
    padding: 5px;
    text-decoration: none;
    cursor: default;
}
img{
    display: inline;
}